@import url("https://fonts.googleapis.com/css?family=Inter:200,300,400,500,600,700,800");

* {
    box-sizing: border-box;
}

.superpowered-chat-main-container-light, .superpowered-chat-main-container-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 0px;
    height: calc(100vh - 0px);
    background-color: var(--off-white);
    overflow: hidden;
}

.superpowered-chat-main-container-dark {
    background-color: #303036;
}

.superpowered-chat-messages-container {
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

/* Hide the scroll bar */
.superpowered-chat-messages-container-hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.chat-send-message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 10px 60px 20px 60px;
}


.superpowered-chat-message-container-light, .superpowered-chat-message-container-dark {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 25px 40px 25px 40px;
    border-bottom: 1px solid var(--divider-line-gray);
}

.superpowered-chat-message-container-dark {
    border-bottom: 1px solid var(--dark-theme-off-black);
}

.superpowered-chat-message-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 950px;
    /* 3 to 1 flex ratio, minus the left sidebar width, minus the left and right padding on the message container */
    /*max-width: calc(75vw - 360px);*/
    margin: auto;
    text-align: left;
}

.superpowered-chat-message-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 850px;
    margin: auto;
}

#superpowered-chat-thread-intro-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
}

#superpowered-chat-thread-intro-header-text-light, #superpowered-chat-thread-intro-header-text-dark {
    font-family: "Inter";
    font-weight: 700;
    font-size: 32px;
    color: var(--off-black);
    margin-bottom: 15px;
    margin-top: 30px;
}

#superpowered-chat-thread-intro-header-text-dark {
    color: var(--off-white);
}

#superpowered-chat-thread-intro-header-description-light, #superpowered-chat-thread-intro-header-description-dark {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--off-black);
}

#superpowered-chat-thread-intro-header-description-dark {
    color: var(--off-white);
}

.view-previous-chats-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.view-previous-chats-text-light, .view-previous-chats-text-dark {
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    color: var(--message-blue);
    margin-right: 10px;
    cursor: pointer;
}

.view-previous-chats-text-light:hover {
    color: var(--darker-blue);
}

.chat-message-copy-icon-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.copy-text-icon-light, .copy-text-icon-dark {
    color: var(--medium-gray);
    cursor: pointer;
    font-size: 20px;
}

.copy-text-icon-dark {
    color: var(--light-gray);
}

.copy-text-icon-light:hover {
    color: var(--off-black);
}

.copy-text-icon-dark:hover {
    color: var(--divider-line-gray);
}

.copied-message-text {
    color: var(--off-black);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 600;
}

.superpowered-ai-chat-message-container-light {
    background-color: var(--off-white);
}

.superpowered-ai-chat-message-container-dark {
    background-color: var(--dark-theme-background-color);
}

.superpowered-user-chat-message-container-light {
    background-color: white;
    border-bottom: 1px solid var(--divider-line-gray);
}

.superpowered-user-chat-message-container-dark {
    background-color: var(--dark-theme-card-background);
    border-bottom: 1px solid var(--dark-theme-off-black);
}

.superpowered-chat-message-header-text {
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    color: var(--medium-gray);
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat-message-text-light, .chat-message-text-dark {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--off-black);
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;
    width: 100%;
}

.chat-message-text-light h1, .chat-message-text-dark h1 {
    font-size: 32px;
    line-height: 44px;
}

.chat-message-text-light h2, .chat-message-text-dark h2 {
    font-size: 26px;
    line-height: 36px;
}

.chat-message-text-light h3, .chat-message-text-dark h3 {
    font-size: 22px;
    line-height: 32px;
}

.chat-message-text-dark {
    color: var(--divider-line-gray);
}


.copy-markdown-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: -40px;
    margin-right: 6px;
    cursor: pointer;
}

.copied-text {
    /* show a transition when this text is displayed */
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    color: white;
    line-height: 22px;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 5px;
    z-index: 10;
}


.sources-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
}

.source-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    padding: 0px 15px;
    cursor: pointer;
    background-color: rgba(93, 36, 216, 0.15);
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    max-width: 275px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sources-col {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.source-text-light, .source-text-dark {
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    color: var(--message-blue);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
    margin-bottom: 8px;
}

.source-text-dark {
    color: var(--dark-theme-clickable-text-blue);
}

.source-row:hover {
    background-color: rgba(93, 36, 216, 0.3);
}


.view-queries-and-results-light, .view-queries-and-results-dark {
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    color: var(--message-blue);
    cursor: pointer;
    margin-top: 6px;
}

.view-queries-and-results-light:hover {
    color: var(--darker-blue);
    font-weight: 700;
}

.view-queries-and-results-dark {
    color: var(--dark-theme-clickable-text-blue);
}

.view-queries-and-results-dark:hover {
    color: var(--dark-theme-clickable-text-blue-hover);
    font-weight: 700;
}


.superpowered-suggested-messages-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    padding: 10px 50px 0px 50px;
    margin: auto;
    margin-bottom: 10px;
}

.superpowered-suggested-message {
    display: flex;
    width: calc(50% - 20px);
    border: 1px solid var(--off-white);
    padding: 15px 25px;
    cursor: pointer;
    margin: 10px 10px;
    border-radius: 5px;
}

.superpowered-suggested-message:hover {
    background-color: rgba(0, 0, 0, 0.25);
}


@media screen and (max-width: 1450px)  {

    .chat-main-container {
        flex: 3;
    }

    .superpowered-chat-message-content-container, .superpowered-chat-message-header-container {
        /* 3 to 1 flex ratio, minus the left and right padding on the message container */
        max-width: calc(85vw - 360px);
    }
    
}

@media screen and (max-width: 1200px) {

    .superpowered-chat-message-container-light, .superpowered-chat-message-container-dark {
        padding: 25px 40px 25px 40px;
    }

    .superpowered-chat-message-content-container, .superpowered-chat-message-header-container {
        /* 3 to 1 flex ratio, minus the left and right padding on the message container */
        max-width: calc(85vw - 65px);
    }

    .chat-main-container {
        flex: 3;
    }

    .chat-sidebar-container {
        padding-left: 25px;
    }

    .chat-send-message-container {
        padding: 10px 40px 20px 40px;
    }

    .superpowered-suggested-messages-container {
        padding: 10px 30px 0px 30px;
    }

}