
.superpowered-chatbot-container-closed-light, .superpowered-chatbot-container-closed-dark {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    right: 20px;
    bottom: 20px;
    /* Give it a drop shadow */
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
    border-radius: 50px;
    background-color: #5D24D8;
    cursor: pointer;
}

.superpowered-chatbot-container-closed-dark {
    background-color: #383838;
}

.superpowered-chat-icon-light, .superpowered-chat-icon-dark {
    color: #f7f7f7;
    font-size: 30px;
    /* Add margin to make the icon look centered */
    margin-top: 5px;
    margin-left: 1px;
}

.superpowered-chatbot-container-light, .superpowered-chatbot-container-dark {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 575px;
    min-height: 325px;
    /*max-height: 675px;*/
    right: 20px;
    bottom: 20px;
    /* Give it a drop shadow */
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

.superpowered-chatbot-container-dark {
    background-color: #383838;
}

.superpowered-chatbot-header-container-light, .superpowered-chatbot-header-container-dark {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px 12px;
}

.superpowered-chatbot-header-container-dark {
    background-color: #383838;
}

.superpowered-chatbot-header-text-light, .superpowered-chatbot-header-text-dark {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #383838;
}

.superpowered-chatbot-header-text-dark {
    color: #f7f7f7;
}

.superpowered-chatbot-header-logo {
    width: 25px;
    height: 25px;
    margin-right: 12px;
}

.superpowered-chatbot-messages-container-light, .superpowered-chatbot-messages-container-dark {
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 5px 10px;
    /*min-height: 200px;*/
    max-height: 425px;
    overflow-y: auto;
}

.superpowered-chatbot-messages-container-dark {
    background-color: #383838;
}

.minimize-icon-light, .minimize-icon-dark {
    color: 383838;
    font-size: 20px;
    cursor: pointer;
}

.minimize-icon-dark {
    color: #f7f7f7;
}

.chatbot-send-message-container-light, .chatbot-send-message-container-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 10px;
    background-color: white;
    box-sizing: border-box;
}

.chatbot-send-message-container-dark {
    background-color: #383838;
}

.chatbot-ai-chat-message-container-light, .chatbot-user-chat-message-container-light, 
.chatbot-ai-chat-message-container-dark, .chatbot-user-chat-message-container-dark {
    display: flex;
    background-color: #f7f7f7;
    padding: 8px 15px;
    width: fit-content;
    max-width: 85%;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.chatbot-ai-chat-message-container-dark {
    background-color: #4F4F4F;
}

.chatbot-user-chat-message-container-light, .chatbot-user-chat-message-container-dark {
    background-color: #5D24D8;
    /* Align this container to the right of the parent container */
    align-self: flex-end;
}

.chatbot-user-chat-message-light, .chatbot-ai-chat-message-light,
.chatbot-user-chat-message-dark, .chatbot-ai-chat-message-dark {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
    color: #383838;
}

.chatbot-ai-chat-message-dark {
    color: #f7f7f7;
}

.chatbot-user-chat-message-light, .chatbot-user-chat-message-dark {
    color: #f7f7f7;
}

.superpowered-reset-chat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 5px;
}

.superpowered-reset-chat-text {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #5D24D8;
    cursor: pointer;
}

.superpowered-reset-chat-text:hover {
    font-weight: 600;
}

.superpowered-thinking-chat-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    width: 40px;
}

.superpowered-thinking-dots {
    font-family: "Inter";
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 54px;
    color: #8F8F8F;
}

.powered-by-sp-promo-text, .powered-by-sp-promo-text-grey-light, .powered-by-sp-promo-text-grey-dark {
    font-family: "Inter";
    font-weight: 800;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 2px;
    color: #5D24D8;
    text-align: right;
}

.powered-by-sp-promo-text-grey-light, .powered-by-sp-promo-text-grey-dark {
    font-weight: 400;
    color: #8F8F8F;
    margin-right: 4px;
    text-align: right;
}

.powered-by-sp-promo-text-grey-dark {
    color: #AEAEAE;
}